.home{
    padding: 2rem; 
    padding-top: 1rem;
    background-image: url(../../assets/bgCircle.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position-x: right;
}
.main-info{
    display: flex;
    justify-content: space-between;
}
.title-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-transform: uppercase;
    color: #292929;
    font-size: 1.70rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 0.9;
    margin-top: 8.125rem;
}
.text-style{
    color: #092D5D;
    font-weight: 400;
}
.description{
    width: 29.6875rem;
    line-height: 2;
    text-transform: none;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 1.9rem;
}
.social-button{
    width: 3.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.9rem;
}
.btn{
    width: 	1.375rem;
    height: 1.375rem;
}
.home-btn{
    display: none;
}
.mainImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: animation-img 1s;
    transition: all 300ms ease-out;

}
@keyframes animation-img{
    0% {
        overflow: hidden;
        transform: translateX(9000px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@media screen and (max-width: 1200px){
    .title-text{
        font-size: large;
        margin-top: 7rem;
    }
    .description{
        margin-top: 1rem;    
    }
}
@media screen and (max-width: 1000px){
    .title-text{
        font-size: 18px;
        margin-top: 5rem;
    }
}
@media screen and (max-width: 950px){
    .title-text{
        font-size: 16px;
        margin-top: 5rem;
    }
    .description{
        width: 25.6875rem;
        line-height: 2;
        text-transform: none;
        font-size: 14px;
    }
}
@media screen and (max-width: 880px){
    .home{
        padding: 0; 
        background-image: url(../../assets/mobileImg.jpg);
        height: 100vh;
    }
    .mainImage{
        width: 0px;
        height: 0px;
    }
    .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5rem auto 50px;
    }
    .title-text{
        text-align: center;
        font-size: x-large;
        margin-top: 3rem;
        color: #fff;
    }
    .text-style{
        color: #fff;
    }
    .description{
        width: 25.6875rem;
        margin: 15px auto;
        font-size: 1rem;
    }
    .home-btn{
        display: block;
        padding: 15px 50px;
        border-radius: 10px;
        margin-top: 25px;
        background-color: #092D5D;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
    }
    .home-btn:hover{
        background-color: #07254b;
    }
    .btn{
        display: none;
    }
    .social-button{
        margin-top: 10px;
        justify-content: center;
    }
    .main-info{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 600px){
    .title-text{
        font-size: 20px;
    }
}
@media screen and (max-width: 500px){
    .home{
        padding: 0; 
        background-image: url(../../assets/mobileImgTwo.jpg);
    }
    .title-text{
        font-size: 16px;
    }
    .description{
        font-size: 14px;
        width: 100%;
    }
    .left{
        margin: 5rem 5px 20px;
    }
    .description{
        font-size: 14px;
        width: 100%;
    }
}
